@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font: Helvetica;

	--color-1: #23f0c7;
	--color-2: #006d77;
	--color-3: #3c3744;
}

* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;

	border-radius: 0.4rem;
}

body {
	background-color: var(--color-3);
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 2rem;

	min-height: 100vh;

	font-family: var(--font);
}
