header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 5rem;

  margin: 5rem;
}

main {
  width: 100%;
}

/* LISTS */

.list-todolists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 1rem;
  width: 100%;
  padding-inline: 5rem;
}

.todolist {
  list-style-type: none;
}

.todolist a {
  display: flex;

  width: 20rem;
  height: 5rem;

  background-color: grey;
}

/* CREATE BUTTON */

#btn-create {
  background-image: url("../../assets/icon-create-todolist.svg");
  background-size: 4rem 4rem;
  background-repeat: no-repeat;
  background-position: center;
}

#btn-create:hover {
  background-color: black;
}
